.header-content {
  background-color: #262626;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center content horizontally */
  position: relative; /* needed for absolute centering later */
  color: white;
  box-sizing: border-box;
}
.header-center p {
  font-family: 'Geologica', sans-serif;
  font-weight: 600; /* adjust: 400=normal, 600=semi-bold, 700=bold */
}

#back {
  height:20px;
}
.header-left {
  position: absolute;
  left: 20px; /* keeps your icon at the left edge */
}
.disco {
  display: flex;
  align-items: center;   /* center vertically */
  justify-content: center; /* center horizontally */
  position: relative; /* allows absolute positioning if needed */
  width: 100%;
  height: auto; /* or whatever height you need */
}

.disco img {
  max-width: 100%; /* responsive image */
  height: auto;
  display: block;
  max-height: 900px;
  /* Combine two gradients: horizontal + vertical */
  -webkit-mask-image: 
    linear-gradient(to right, transparent, black 5%, black 95%, transparent),
    linear-gradient(to bottom, black 85%, transparent);
  mask-image: 
    linear-gradient(to right, transparent, black 5%, black 95%, transparent),
     linear-gradient(to bottom, black 50%, transparent);

  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

