.header-content {
  background-color: #262626;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center content horizontally */
  position: relative; /* needed for absolute centering later */
  color: white;
  box-sizing: border-box;
}
.header-center p {
  font-family: 'Geologica', sans-serif;
  font-weight: 600; /* adjust: 400=normal, 600=semi-bold, 700=bold */
}

#back {
  height:20px;
}
.header-left {
  position: absolute;
  left: 20px; /* keeps your icon at the left edge */
}